/*general...........................*/
* {
	box-sizing: border-box;
}
.body {
	background: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	background-image: url(https://images.unsplash.com/photo-1661705969607-cde73828023d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBsYSUyMHRpZXJyYXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000);
	margin: 0;
}
.body {
	margin: 0;
}
/*header.............................*/
.header {
	display: flex;
	margin: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
}
.pIntro {
	color: #ffffff55;
	font-size: 1rem;
	font-family: arial;
	display: inline-block;
}
.divContenIntro {
	display: inline-block;
}
.buttonIntro {
	background: #fff4;
	border: 1px inset #fff0;
	border-radius: 15px 15px 15px 15px;
	padding: 6px 8px;
	font-size: 0.9rem;
	margin: 1rem;
	padding: 0;
}
.buttonIntro:hover {
	background: #fff7;
	border: 1px inset #fff0;
}
.aButton {
	text-decoration: none;
	color: #fff;
	transition: 3s;
	padding: 2rem;
}
.aButton:hover {
	color: #fff;
}
/*contenido.........................*/
.article {
	padding: 2em;
}
.divContGaleri {
	background: #0005;
  	border-radius: 15px;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
	padding: 3em 2em;
}
.divContImgs {
 	background: #fff5;
	width: 10em;
	height: 15em;
	margin: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
}
.imgGaleri {
}
.divContImgs img {
	object-fit: cover;
	width: 100%;
	height: 10em;
	border-radius: 20px 20px 0px 0px;
}
.pGaleri {
	font-family: arial;
	font-size: 20px;
	color: #fff;
}
.divContImgs:hover {
	background-image: url(../images/desom.jpg);
	background-position: center;
	background-size: cover;
	backface-visibility: 0.7;
	transition: 2s;
}