/*general...........................*/
* {
	box-sizing: border-box;
}
.body {
	background: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://images.unsplash.com/photo-1661705969607-cde73828023d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBsYSUyMHRpZXJyYXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000);
	background-attachment: fixed;
	color: #fff;
}
/*.contenGral {}*/
/*header.............................*/
.header {
	display: flex;
	margin: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
}
.pIntro {
	color: #ffffff55;
	font-size: 1rem;
	font-family: arial;
	display: inline-block;
}
.divContenIntro {
	display: inline-block;
}
.buttonIntro {
	background: #fff4;
	border: 1px inset #fff0;
	border-radius: 15px 15px 15px 15px;
	padding: 6px 8px;
	font-size: 0.9rem;
	margin: 1rem;
	padding: 0;
}
.buttonIntro:hover {
	background: #fff7;
	border: 1px inset #fff0;
}
.aButton {
	text-decoration: none;
	color: #fff;
	transition: 3s;
	padding: 2rem;
}
.aButton:hover {
	color: #fff;
}
/*.............formulario..........*/
.articleForm {
	padding: 0 2em;
	display: flex;
	justify-content: center;
}
.contenForm {
	border: 0.5px solid #fff1;
	background: #0005;
	width: 25em;
	height: auto;
	padding: 1em;
	border-radius: 20px;
}
.contenPartForm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1.5rem 1rem;
}
.pForm {
	display: inline-block;
	font-size: 15px;
	font-family: arial;
	font-stretch: normal;
}
.inputForm {
	display: inline-block;
	border: none;
	background: #fff5;
	border-radius: 2px;
	width: 100%;
	height: 2.5rem;
	margin: 5px;
	padding: 1rem;
	color: #fff;
}
.inputForm:focus {
	border: none;
	outline: none;
	text-decoration: none;
}
.inputForm::placeholder {
	color: #0008;
	user-select: none;
}
.contenInputCheckbox {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}
.inputFormCheckbox {
	width: 1.2em;
	height: 1.2em;
	margin: 0.5em;
}
.inputFormCheckbox::before {
	background: #fff;
}
.pCheckbox {
	display: inline-block;
	font-size: 0.7rem;
	color: #fff9;
	margin: 0.5em;
}
.labelCheckbox {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	border: 0px solid #0005;
	background: #0005;
	padding: 0.2rem;
	border-radius: 15%;
	width: 2.5em;
	height: 2em;
	font-size: 15px;
	text-align: center;
	color: #0000;
	width: 1.2em;
	height: 1.4em;
	padding: 0;
	margin: 0;
}
.contenInputSubmit {
	display: flex;
	justify-content: center;
}
.inputFormSubmit {
	width: 7rem;
	height: 2.5rem;
	padding: 0.5rem;
	border-radius: 30px;
	border-color: #0000;
	background: #0008;
	color: #fff8;
	transition-duration: 2s;
}
.inputFormSubmit:hover {
	background: #fff7;
	color: #000;
	transition-duration: 2s;
}
.divContenListForm {
	display: flex;
	justify-content: center;
}
.formContenListForm {
}
.selectListForm {
	width: 10em;
	height: 2.5rem;
	margin: 1rem;
	padding: 0.5rem;
	background: #0005;
	color: #fff;
	border: none;
}
.optionListForm {
	background: #000;
	color: #fff;
	border: none;
}
.optionListForm:hover {
	background: #fff;
	color: #000;
	border: none;
}
.selectListForm:focus {
	border: none;
	outline: none;
	text-decoration: none;
}
.optionListForm:focus {
	border: none;
	outline: none;
	text-decoration: none;
}
.pListForm {
	color: #fff9;
	font-size: 13px;
}
.divContenListForm {
	display: flex;
}