/*general...........................*/
* {
	box-sizing: border-box;
}
.body {
	background: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://images.unsplash.com/photo-1661705969607-cde73828023d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBsYSUyMHRpZXJyYXxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000);
	background-attachment: fixed;
	color: #fff;
}
/*header.............................*/
.header {
	display: flex;
	margin: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
}
.pIntro {
	color: #ffffff55;
	font-size: 1rem;
	font-family: arial;
	display: inline-block;
}
.divContenIntro {
	display: inline-block;
}
.buttonIntro {
	background: #fff4;
	border: 1px inset #fff0;
	border-radius: 15px 15px 15px 15px;
	padding: 6px 8px;
	font-size: 0.9rem;
	margin: 1rem;
	padding: 0;
}
.buttonIntro:hover {
	background: #fff7;
	border: 1px inset #fff0;
}
.aButton {
	text-decoration: none;
	color: #fff;
	transition: 3s;
	padding: 2rem;
}
.aButton:hover {
	color: #fff;
}
/*contenido.....................*/
.article {
	padding: 1em;
	display: flex;
	justify-items: center;
	flex-direction: column;
}
.divContenTransition {
	max-width: 100%;
	padding: 0 40%;
}
.divContenTrton {
	width: 100%;
	height: 10em;
	background: #0005;
	background-repeat: repeat;
	background-size: 1em;
	margin: 1em 0;
	background-image: url(../images/desom.jpg);
	animation: nanao 60s infinite;
}
.box1 {
	background-position: top;
  	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.box2 {
	background-position: center;
}
.box3 {
	background-position: bottom;
  	clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}
.pEp {
	background: #000;
	color: #fff;
	border-radius: 20px;
	padding: 0.5rem;
	animation: nana 0.1s infinite;
}
@keyframes nana {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
		background: #fff;
		color: #000;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes nanao {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
		background-position: center;
		background-size: 30em;
	}
	100% {
		background-position: 0% 50%;
	}
}